.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

* {
  transition: all 0.2s linear;
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.navbar-left span {
  color: #cf19ff;
}

.bg-custom-bg {
  background-image: url('./media/top-intro.png');
}

.bg-custom-bg-2 {
  background-image: url('./media/mid-work.png');
}

/* Define the blinking animation */

@keyframes blink-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.blink-cursor {
  animation: blink-animation 1s infinite;
  /* Apply the animation to the cursor */
}

/* Basic styling for the image container */

/* Style for the image */

/* Text overlay settings */

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(55, 36, 124, 0.7);
  /* Adjust the background color and opacity */
  color: white;
  /* Adjust the text color */
  opacity: 0;
  transform-origin: center;
  /* Set the transform origin to the center of the element */
  transition: all 0.5s ease;
}

/* Animation on hover */

/* Styling for the text */

.text-overlay p {
  font-size: 24px;
  font-weight: bold;
}

.hover\:w-\[605px\]:hover {
  width: 605px;
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.hover\:text-teal-400:hover {
  --tw-text-opacity: 1;
  color: rgb(45 212 191 / var(--tw-text-opacity));
}


@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 0px;
  left: 0%;
  background: black;
  transition: width .3s ease;
}

a:hover:after {
  width: 100%;
  left: 0%;
  background: black;
}

.cursor {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid #ffffff;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  z-index: 100;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  z-index: 100;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: rgb(250, 255, 249);
  opacity: .9;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

.hover {
  background-color: rgb(68, 76, 56);
  transition: width .3s, height .3s, opacity .3s;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}

#blur-image {
  max-width: 100%;
  transition: filter 0.3s;
}

.blur {
  filter: blur(5px);
}

.line {
  position: absolute;
  top: 0;
  left: 9%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 1000vh;
  background-color: rgb(19, 230, 160);
}

.grow img {
  transition: 1s ease;
}

.grow img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

#infinity {
  position: relative;
  width: 35px; /* 212px / 6 = 35px */
  height: 16.67px; /* 100px / 6 = 16.67px */
  box-sizing: content-box;
}

#infinity:before,
#infinity:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px; /* 60px / 6 = 10px */
  height: 10px; /* 60px / 6 = 10px */
  border: 3.33px solid rgb(0, 255, 153); /* 20px / 6 = 3.33px */
  border-radius: 16.67px 16.67px 0 16.67px; /* 50px / 6 = 16.67px */
  transform: rotate(-45deg);
}

#infinity:after {
  left: auto;
  right: 0;
  border-radius: 16.67px 16.67px 16.67px 0; /* 50px / 6 = 16.67px */
  transform: rotate(45deg);
}

